@import "tailwindcss";
@plugin './hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-snow: #fffafa;
  --color-obsidian: #050404;
  --color-gray: #e5e5ea;
}

:root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color-scheme: light;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body,
div#root {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;

  /* Remove if creating full website */
  max-width: 600px;
  max-height: 1000px;
  overflow: hidden;
}

main#main-content {
  width: inherit;
  height: inherit;
  overflow: hidden;
}
